appdirs==1.4.4
attrs==20.3.0
awsebcli==3.19.2
az==0.1.0.dev1
bcrypt==3.2.0
blessed==1.17.12
blinker==1.4
botocore==1.19.25
cached-property==1.5.2
cachelib==0.1.1
cachetools==4.1.1
cement==2.8.2
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.2.1
distlib==0.3.1
docker==4.4.0
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
EB==0.1.5
filelock==3.0.12
Flask==1.1.2
Flask-Mail==0.9.1
Flask-Session==0.3.2
future==0.16.0
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gunicorn==20.0.4
helpers==0.2.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy==1.19.4
oauthlib==3.1.0
pandas==1.1.4
paramiko==2.7.2
pathspec==0.5.9
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.0
PyNaCl==1.4.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
semantic-version==2.5.0
six==1.15.0
termcolor==1.1.0
texttable==1.6.3
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==20.2.1
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==1.0.1
