.cool_background
{
    background-color: #000000;
}

.indexcolortop
{
    background-color: white;
    color: black;
}

.indexcolorbottom
{
    color: white;
    background-color: black;
}

.index-ghost
{
    display: none;
}

.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
  }

  .fa.fa-envelope.submit
  {
    color: black;
  }