.hamburger{
    
  display: none;
}
#navbar{
  display: block;
}

.contains_img
{
  max-height: 350px;
}

.index_img
{
  height: 225px; 
}

#wirecard
{
  top: 1553px;
}

.execs
{
  font-size: 30pt;
}

#body
{
  padding: 50px;
}


.article
{
  width: 85%;
}

.iiiimg
{
  height: 600px;
}

.article1
{
  top: 425px;
}

.coolio
{
  width: 30%;
  padding-top: 5rem;
  float: right; 
}

.alazz
{
  width: 70%;
  font-size: 50px;
  float: left;
  padding-top: 3rem
}

.alazzz
{
  font-size: 20px;
}

.alaznayy
{
  height: 60px;
}
.alspice
{
  height: 30%;
} 

.alazalazz
{
  height: 30%;
}

.zala
{
  font-size: 10px;
}

.articleimg
{
  max-height: 600px;
}