<!DOCTYPE html lang="en">

<html>
    <head>
        <title>
            Post Article
        </title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container" style="margin-left: 5%;">
            <h1> Hello {{ name.capitalize() }} </h1>
            <br>

            <form action="/post" method="POST">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="Title">
                </div> 
                <div class="form-group">
                    <input type="text" id="authors" name="authors" placeholder="Authors">
                </div>
                
                <div class="form-group">
                    <input type="text" id="tags" name=tags placeholder="Tags">
                </div>

                <div class="form-group">
                    <input type="text" id="date" name=date placeholder="Date">
                </div>

                <div class="form-group">
                    <textarea id="description" name="description" placeholder="Description"></textarea>
                </div>
                
                <!-- Add tags -->

                <div class="form-group">
                    <textarea id="content" name="content" placeholder="Content"></textarea>
                </div>

                <div class="form-group">
                    <input type="text" id="image" name="image" placeholder="Image source">
                </div>

                <input type="submit">
            </form>

            <button onclick="window.location.href='/'">Go Home</button>
        </div>
    </body>
</html>