<!DOCTYPE html lang="en">

<html>
    <head>
        <title>
            Post Article
        </title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container"  style="margin-left: 5%; width: 50%;">
            <h1> Hello {{ name.capitalize() }} </h1>
            <br>

            <form action="/post" style="width: 100%;" method="POST">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="Title">
                </div> 
                <div class="form-group">
                    <input type="text" id="authors" name="authors" placeholder="Authors">
                </div>
                
                <div class="form-group">
                    <input type="text" id="tags" name=tags placeholder="Tags">
                </div>

                <div class="form-group">
                    <input type="text" id="date" name=date placeholder="Date">
                </div>

                <div class="form-group" >
                    <textarea id="description" name="description" placeholder="Description" style="width: 100%; height:100px;"></textarea>
                </div>
                
                <!-- Add tags -->
                <label>Email for:</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="email_tags" type="checkbox" id="inlineCheckbox1" value="politics">
                    <label class="form-check-label" for="inlineCheckbox1">politics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="email_tags"  type="checkbox" id="inlineCheckbox2" value="creative">
                    <label class="form-check-label" for="inlineCheckbox2">poetry</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="email_tags" type="checkbox" id="inlineCheckbox3" value="business">
                    <label class="form-check-label" for="inlineCheckbox3">business</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="email_tags" type="checkbox" id="inlineCheckbox4" value="free-write">
                    <label class="form-check-label" for="inlineCheckbox4">Free-Write</label>
                </div>
               

                <div class="form-group">
                    <textarea id="content" name="content" placeholder="Content" style="width: 100%; height:300px;"></textarea>
                </div>

                <div class="form-group">
                    <input type="text" id="image" name="image" placeholder="Image source">
                </div>

                <input type="submit">
            </form>

            <button onclick="window.location.href='/'">Go Home</button>
        </div>

        <style>
            td
            {
                padding: 7px;
            }
        </style>
        <div class="container fixed-top"  style="margin-right: 5%; width: 40%; margin-top: 10%; text-align: left;">
            <ul>
                <li>Do not include the header image in content. The header image source/link must be put in the <p class="text-muted" style="display: inline-block;">Image Source</p> input field</li>
                <li>For images: <code>&lt;img src="link to image" width="100%"&gt;</code></li>
                <li>For block quotes: <code>&lt;blockquote&gt;</code>words words words<code>&lt;/blockquote&gt;</code></li>
                <li>Tags must include politics, creative, or business, as well as any of:</li>
                <br>
                <table>
                    <tbody>
                        <tr>
                            
                            <td>Finance</td>
                            <td>Economics</td>
                            <td>Poetry</td>
                            <td>Prose</td>
                        </tr>
                        <tr>
                            <td>Creative</td>
                            <td>Politics</td>
                            <td>Opinionated</td>
                            <td>Inforative</td>
                        </tr>
                        <tr>
                            <td>Articles</td>
                            <td>Business</td>
                            <td>Environmentalism</td>
                            <td>Free-verse</td>
                        </tr>
                        <tr>
                            <td>Free-write</td>
                            <td>Middle East</td>
                            <td>Photography</td>
                            <td>Science</td>
                        </tr>
                        <tr>
                            <td>Society</td>
                            <td>Feminism</td>
                            
                        </tr>
                    </tbody>
                </table>
            </ul>
            
        </div>
    </body>
</html>e