{% extends "layout.html" %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    {% for i in range(articles | length) %}
        <div class=row style="max-height: 350px;"">
            {% if i % 2 == 0 %}
                <div class=col style="overflow: hidden; width: 50%; max-height: 350px;">
                    <img src="{{ articles[i][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[i][3] }}" width="100%">
                </div>
                
                <div class="col">
                    <!-- MAKE TITLE a link and authors a search -->
                    <a href="/article/{{articles[i][0].capitalize()}}"><h2>{{ articles[i][0].capitalize() }}</h2></a>
                    <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[i][1] }}">{{ articles[i][1] }}</a></p>
                    <p style="font-size: 12pt; color: #798EA4; margin-top: -7px;">{{ articles[i][4] }}</p>
                    <p style="font-size: 11pt; margin-top: -7px; color: rgb(61, 59, 59)">{{ articles[i][2] }}</p>
                </div>
            {% else %}
                <div class="col" >
                    <!-- MAKE TITLE a link and authors a search -->
                    <a href="/article/{{articles[i][0].capitalize()}}"><h2>{{ articles[i][0].capitalize() }}</h2></a>
                    <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[i][1] }}">{{ articles[i][1] }}</a></p>
                    <p style="font-size: 12pt; color: #798EA4;  margin-top: -7px;">{{ articles[i][4] }}</p>
                    <p style="font-size: 11pt; margin-top: -7px; color: rgb(61, 59, 59)">{{ articles[i][2] }}</p>
                </div>

                <div class=col style="overflow: hidden; width: 50%; max-height: 300px;">
                    <img src="{{ articles[i][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[i][3] }}" height="auto" width="100%">
                </div>
            {% endif %}
        </div>

        {% if i != articles | length - 1%}
            <hr style="height:2px;border-width:0;color:gainsboro;background-color:gainsboro">
        {% endif %}
            
    {% endfor %}
    <br>
    
{% endblock %}

