{% extends "layout.html" %}


{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="container">
            <div>
                <img src="static/{{ article[3] }}" alt="{{ article[3] }}">
            </div>
            <h2>{{ article[0].capitalize() }}</h2>
            <p style="font-size: 13pt; margin-top: -7px;">By: {{ article[1] }}</p>
            <p style="font-size: 11pt; margin-top: -7px; color: rgb(61, 59, 59)">{{ article[2] }}</p>
        </div>
            
    {% endfor %}
    
{% endblock %}

