{% extends "layout.html" %}

{% block title %}
    {{ contents[0][0]|title }}
{% endblock %}

{% block body %}
    <article style="margin:auto">
        <div style="overflow: hidden; width: 80%; height: 450px; margin: auto">
            <img src="{{ contents[0][2] }}" style="width: 100%; height: auto;">
        </div>
        <div style="width: 80%; margin:auto">
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ contents[0][0]|title }}</h1>
            <p style="font-family: Georgia, 'Times New Roman', Times, serif; color: rgb(145, 141, 141); margin-top: -5pt;">{{ contents[0][4] }}</p>
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; color: rgb(100, 100, 100);">By: <a href="/search?q={{ contents[0][1] }}">{{ contents[0][1] }}</a></h4>

            <br>

            <div id="text" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                {{ text|safe }}
            </div>
        </div>
    </article>
   

{% endblock %}