{% extends "layout.html" %}


{% block title %}
    Our Team
{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt;"><u>__Executive Team__</u></h1>
    
    <br>
    <br>
    
    <div class="row">
        {% for i in range(people | length) %}

                <div class="col">
                    <!div class="container"  style="display: inline-block">
                        <div style="overflow: hidden; width: 100%; ">
                            <!img src="static/mo.png" width="100%" height="auto%">
                            <!img src="{{ people[i].profile_photo }}" alt="Profile: {{ people[i].fullname }}">
                        </div>
                        <details>
                            <summary> 
                                <img src="static/mo.png" width="100%" height="auto%">
                                <h2>{{ people[i].fullname }}</h2>
                                <p>{{ people[i].title }}
                            </summary>
                            
                            <div id="{{people[i].insta_info}}" class="shown">
                                <p><strong><a href="https://www.instagram.com/{{people[i].insta}}">@{{ people[i].insta }}</a></strong></p>
                                <p style="font-size: 12px;">{{ people[i].short_bio }}<p>
                            </div>
                        </details>
                    <!/div>
                </div>
            
            {% if i % 3 == 2 %}
                </div>
                <div class="row">
                <br>
            {% endif %}
            
        {% endfor %}
    </div> 
{% endblock %}