{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}

{% block body %}

    {% if sent %}
        <script>
            alert("Submission has been sent to editors, please await a response.")
        </script>
    {% endif %}
    <br>
    
    <div class="container-fluid">
        <a href="/article/{{articles[0][4]}}"><div class=center style="overflow: hidden; width: 50%; max-height: 500px;" >
            <img class="center" src="{{ articles[0][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[0][3] }}" width="100%" style="margin-left: auto; margin-right: auto;">
        </div>
        <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[0][0].title() }}</h2></a>
        <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[0][1] }}">{{ articles[0][1] }}</a></p>
        <p style="font-size: 11pt; margin-top: -7px; color: rgb(81, 59, 59)">{{ articles[0][2] }}</p>
    </div>

    <hr style="height:2px;border-width:0;color:gainsboro;background-color:gainsboro">

    <div class="container-fluid" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="row" >
            <a href="/article/{{articles[1][4]}}"><div class=col style="height: 275px; width: 215px;">
                <div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[1][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[1][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[1][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[1][1] }}">{{ articles[1][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[2][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;">
                    <img class="center" src="{{ articles[2][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[2][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[2][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[2][1] }}">{{ articles[2][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[3][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[3][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[3][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[3][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[3][1] }}">{{ articles[3][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[4][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[4][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[4][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; ">{{ articles[4][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[4][1] }}">{{ articles[4][1] }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[5][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[5][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[1][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: auto; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[5][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[5][1] }}">{{ articles[5][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[6][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[6][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[6][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[6][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[6][1] }}">{{ articles[6][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[7][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[7][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[7][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ articles[7][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[7][1] }}">{{ articles[7][1] }}</a></p>
            </div>

            <div class=col style="height: 275px; width: 215px;">
                <a href="/article/{{articles[8][4]}}"><div class=center style="overflow: hidden; width: 100%; max-height: 150px;" >
                    <img class="center" src="{{ articles[8][3] }}" onerror="this.src='static/white_logo_text.png'" alt="{{ articles[8][3] }}" width="100%" style="margin-left: auto; margin-right: auto; width: 100%; height: 150px; overflow: hidden;">
                </div>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; ">{{ articles[8][0].title() }}</h2></a>
                <p style="font-size: 13pt; margin-top: -7px;">By: <a href="/search?q={{ articles[8][1] }}">{{ articles[8][1] }}</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}