<!DOCTYPE html lang="en">

    <html>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="MobileOptimized" content="width">
            <meta name="HandheldFriendly" content="true">
            <meta name="description" content="The Written Revolutions webapp">

            <!-- Link to JQUERY-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            
            <link rel="stylesheet" media="screen and (min-width: 600px)" href="static/widescreen.css">
            <link rel="stylesheet" media="screen and (max-width: 599px)" href="static/smallscreen.css">
            <link rel="stylesheet" href="static/styles.css">

            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <link href="/static/tlogo.ico" rel="icon">


            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            
            <!-- Icon library-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <title>{% block title %}{% endblock %}: TWR</title>

        </head>
        
        <body style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: normal 100%;">
            <!--div class="fixed-top">
                <div class="collapse hamburger" id="navbarToggleExternalContent" style="background-color:#043927;">
                  <div class="p-4" >
                    <a class="navbar-brand" href='/'>
                        <img width="50px" height="mr-auto" style="margin-top: -12px;" src="static/wtlogo.png"  alt= "TWR">
                    </a>
                    <ul>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/politics'>Politics</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/creative'>Creative</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/econ'>Business & Economics</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/ourmission'>Mission</a></li>
                        <li class="nav-item active a">
                            <a class="dropdown-item" href="/execs">Executives</a></li>
                        <li class="nav-item active a">
                                <a class="dropdown-item" href="#">Junior Columnists</a></li>
                        <li class="nav-item active a"> 
                                <a class="dropdown-item" href="#">Ambassadors</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/submissions'>Submissions</a></li>
            </div-->
                
            
            <nav class="navbar fixed-top  navbar-expand-lg navbar-dark" style="background-color:#043927;justify-content: space-evenly" id="navbar">
                    <a href='/'><img src="static/green_text.png" alt="The Written Revolutions" style="width: 400px;" class="center"></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <!--li class="nav-item active">
                                <a class="navbar-brand" href='/'><div>
                                    <img width="50px" height="mr-auto" style="margin-top: -12px;" src="static/wtlogo.png"  alt= "TWR">
                                </a></li-->
                            <li class="nav-item active">
                                <a class="nav-link" href='/search?q=politics'>Politics</a></li>
                            <li class="nav-item active">
                                <a class="nav-link" href='/search?q=creative'>Creative</a></li>
                            <li class="nav-item active">
                                <a class="nav-link" href='/search?q=business'>Business & Economics</a></li>
                            <li class="nav-item active">
                                <a class="nav-link" href='/ourmission'>Mission</a></li>
                        
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                                Our Team
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="background-color: #043927;">
                                    <a class="dropdown-item" href="/execs" style="color: white;">Executives</a>
                                    <a class="dropdown-item" href="#" style="color: white;">Junior Columnists</a>
                                    <a class="dropdown-item" href="#" style="color: white;">Ambassadors</a>
                                </div>
                            </li>
                        
                            <li class="nav-item active">
                                <a class="nav-link" href='/submissions'>Submissions</a></li>

                            <form class="form-inline my-2 my-lg-0" style="align-self: right;" action="/search">
                                <input class="form-control mr-sm-2" id="q" name="q" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn btn-outline-light" type="submit">Search</button>
                            </form>
                        </ul>                
                </div>
            </nav>
        </div>
       
            <div class="container" style="padding: 50px; overflow-y:scroll;">
                <br> 
                <br>
                <br>
                {% block body %}{% endblock %}
            </div>
                <div class="sticky-bottom container-fluid" style="margin: auto; text-align: center; background-color:#043927;">
                    <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; text-align: center;" for="email">Get email updates</label>
                    <div class="container-fluid" style="text-align: center;">
                        <form class="form-inline" action="/email" method="POST" style="display: inline-block;">
                            <input autocomplete="on" class="form-control email_input" id="email_input" onkeyup="check()" name="email" placeholder="Email" type="email">
                            <button class="btn btn-sm email_submit" type="submit" value="submit" disabled="disabled" id="submitbutton" onclick="return check2();" style="background-color: #043927; padding-left: -10pt; margin-bottom: 5px;"><i class='fa fa-envelope'></i></button>
                            <div style='clear:both;'></div>
                            <input name='uri' type='hidden' value='thewrittenrevolutions/uwot'/>
                            <input name='loc' type='hidden' value='en_US'/>
                        </form>
                    </div>
                    
                    <script>
                        function check() {
                            var f = document.querySelector("#email_input").value;
                            var cansubmit = true;
                            
                            if (f.length == 0) cansubmit = false;
        
                            if (cansubmit) {
                                document.getElementById('submitbutton').disabled = false;
                            }
                            else {
                                document.getElementById('submitbutton').disabled = 'disabled';
                            }
                        }
                    </script>

                    <div class="container-fluid sticky-bottom" style="margin: auto; margin-top: -10px ;text-align: center;">
                        <a href='https://www.instagram.com/thewrittenrevolutions' target='_blank'><i class='fa fa-instagram'></i></a>
                        <a href='https://www.facebook.com/thewrittenrevolutions' target='_blank'><i class='fa fa-facebook-f'></i></a>
                        <a href='https://www.linkedin.com/company/the-written-revolutions/' target='_blank'><i class='fa fa-linkedin'></i></a>
                        <a href='https://twitter.com/TWRevolutions' target='_blank'><i class='fa fa-twitter'></i></a>
                        <a href='mailto:thewrittenrevolutions@gmail.com' target='_blank'><i class='fa fa-envelope'></i></a>
                    </div>

                </div>
                
        </body>
    </html>
   