<!DOCTYPE html lang="en">

    <html>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="MobileOptimized" content="width">
            <meta name="HandheldFriendly" content="true">
            <meta name="description" content="The Written Revolutions webapp">

            <!-- Link to JQUERY-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
           
            <link rel="stylesheet" media="screen and (min-width: 600px)" href="static/widescreen.css">
            <link rel="stylesheet" media="screen and (max-width: 599px)" href="static/smallscreen.css">
            <link rel="stylesheet" href="static/styles.css">

            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <link href="/static/tlogo.ico" rel="icon">


            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            
            <!-- Icon library-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <title>{% block title %}{% endblock %}: TWR</title>

        </head>
        
        <body style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: normal 100%;">
            <div class="fixed-top">
                <div class="collapse hamburger" id="navbarToggleExternalContent" style="background-color:#043927;">
                  <div class="p-4" >
                    <a class="navbar-brand" href='/'>
                        <img width="50px" height="mr-auto" style="margin-top: -12px;" src="static/wtlogo.png"  alt= "TWR">
                    </a>
                    <ul>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/political'>Politics</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/creative'>Creative</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/econ'>Business & Economics</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/ourmission'>Mission</a></li>
                        <li class="nav-item active a">
                            <a class="dropdown-item" href="ourteam.html">Executives</a></li>
                        <li class="nav-item active a">
                                <a class="dropdown-item" href="#">Another action</a></li>
                        <li class="nav-item active a"> 
                                <a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/submissions'>Submissions</a></li>
                        <li class="nav-item active a">
                            <a class="nav-link" href='/getinvolved'>Get Involved</a></li>  
                    </ul>

                  </div>
                    <nav class="navbar navbar-dark" >
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
                
            
            


            <nav class="navbar fixed-top  navbar-expand-lg navbar-dark" style="background-color:#043927;" id="navbar">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="navbar-brand" href='/'><div>
                                <img width="50px" height="mr-auto" style="margin-top: -12px;" src="static/wtlogo.png"  alt= "TWR">
                                
                            </a></li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/political'>Politics</a></li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/creative'>Creative</a></li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/econ'>Business & Economics</a></li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/ourmission'>Mission</a></li>
                            <li class="nav-item dropdown a">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our Team
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #043927; color: white;">
                                      <a class="dropdown-item" href="ourteam.html">Executives</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    
                                </div>
                            </li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/submissions'>Submissions</a></li>
                            <li class="nav-item active a">
                                <a class="nav-link" href='/getinvolved'>Get Involved</a></li>  
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="/search">
                        <input class="form-control mr-sm-2" id="q" name="q" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn btn-outline-light" type="submit">Search</button>
                    </form>
                    </div>
            </nav>
        </div>
            <div class="container" style="padding: 50px; overflow-y:scroll;">
                <br>
                {% block body %}{% endblock %}
            </div>

                <div class="sticky-bottom container-fluid" style="margin: auto; text-align: center; background-color:#043927;">
                    <label style="font-family: Montserrat; color: white; text-align: center;" for="email">Get email updates</label>
                    <div class="container-fluid" style="text-align: center;">
                        <form class="form-inline" action="/email" method="POST" style="display: inline-block;">
                            <input autocomplete="on" class="form-control email_input" id="email_input" onkeyup="check()" name="email" placeholder="Email" type="email">
                            <button class="btn btn-sm email_submit" type="submit" value="submit" disabled="disabled" id="submitbutton" onclick="return check2();" style="background-color: #043927; padding-left: -10pt; margin-bottom: 5px;"><i class='fa fa-envelope'></i></button>
                            <div style='clear:both;'></div>
                            <input name='uri' type='hidden' value='thewrittenrevolutions/uwot'/>
                            <input name='loc' type='hidden' value='en_US'/>
                        </form>
                    </div>
                    
                    <script>
                        function check() {
                            var f = document.querySelector("#email_input").value;
                            var cansubmit = true;
                            
                            if (f.length == 0) cansubmit = false;
        
                            if (cansubmit) {
                                document.getElementById('submitbutton').disabled = false;
                            }
                            else {
                                document.getElementById('submitbutton').disabled = 'disabled';
                            }
                        }
                    </script>

                    <div class="container-fluid sticky-bottom" style="margin: auto; margin-top: -10px ;text-align: center;">
                        <a href='https://www.instagram.com/thewrittenrevolutions' target='_blank'><i class='fa fa-instagram'></i></a>
                        <a href='https://www.facebook.com/thewrittenrevolutions' target='_blank'><i class='fa fa-facebook-f'></i></a>
                        <a href='https://www.linkedin.com/company/the-written-revolutions/' target='_blank'><i class='fa fa-linkedin'></i></a>
                        <a href='https://twitter.com/TWRevolutions' target='_blank'><i class='fa fa-twitter'></i></a>
                        <a href='mailto:thewrittenrevolutions@gmail.com' target='_blank'><i class='fa fa-envelope'></i></a>
                    </div>

                </div>
            
        </body>
    </html>
   