{% extends "layout.html" %}


{% block title %}
    Our Mission
{% endblock %}

{% block body %}

<img src="static/white_logo_text.png" alt="TWR" style="width: 50%; display: block; margin-left: auto; margin-right: auto; margin-bottom: -35px;" class = "center">
<br>
<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt;">Our Mission </h1>
<br>
<br>
<span style="font-family: Georgia, Times New Roman, serif;">
    Our platform is dedicated to students and artists around the world passionate about journalism and political science. We want to encourage the youth by amplifying their voices and allowing them to gain a deeper and multidimensional understanding of world affairs. Their much-needed perspective should not be smothered down by the age-old notion 'you are too young for politics' for the youth are directly impacted by societal and political issues in their communities and elsewhere around the world. Hence, this platform seeks to inspire journalism in students who have a desire to rise up against injustices around them, affecting the marginalised and oppressed. Moreover, this platform paints the future from the lens of diverse youth who are ready to make positive changes and leave a mark in this world. 
</span>
{% endblock %}