{% extends "layout.html" %}


{% block title %}
    Our Team
{% endblock %}

{% block body %}
    <meta id="my_playlist_data" data-playlist="{{ people }}">
    <script src="static/execs.js"></script>

    <h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt;">Our Team</h1>
    <h2>Executive Team</h2>
        {% for person in people %}
            <div class="w3-third">
                <img src="{{ person.profile_photo }}" alt="Profile: {{ person.fullname }}">
                <h2>{{ person.fullname }}</h2>
                <p>{{ person.title }}
                
                <div id="{{person.insta_info}}" class="ghost">
                    <p>{{ person.short_bio }}<p>
                    <p><a href="https://www.instagram.com/{{person.insta}}">@{{ person.insta }}</a></p>
                </div>
            </div>
        {% endfor %}

    <script>
        var people = JSON.parse('{{ peopleJS | safe | tojson }}');
        
        alert("HI");
    </script>

    
{% endblock %}