{% extends "layout.html" %}


{% block title %}
    Submissions
{% endblock %}

{% block body%}
<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt;">Submit your work to be published!</h1>

<br>
<br>
<div>
    <h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20pt;">Select which category your submission falls under:</h2>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col" id="polit" style="text-align: center;">
            <button type="button" class="btn btn-dark" aria-pressed="true" style="margin: 30px; background-color: #043927; display: inline-block;">Political</button>
            
            <div id="poli" class="ghost">
                <p>hhahshsh</p>
            </div>
        </div>
        <div class="col" id="poe" style="text-align: center;">
            <button type="button" class="btn btn-dark" aria-pressed="true" style="margin: 30px; background-color: #043927; display: inline-block;">Poetry</button>  
            
            <div id="poem" class="ghost">
            </div>  
        </div>
        <div class="col" id="bus" style="text-align: center;">
            <button type="button" class="btn btn-dark" aria-pressed="true" style="margin: 30px; background-color: #043927; display: inline-block;">Economics & Business</button> 
            
            <div id="econ" class="ghost">
            </div>   
        </div>
        <div class="col" id="write" style="text-align: center;">
            <button type="button" class="btn btn-dark" aria-pressed="true" style="margin: 30px; background-color: #043927; display: inline-block;">Freewords</button>  
            
            <div id="free" class="ghost">
            </div>  
        </div>
        <div class="col" id="crea" style="text-align: center;">
            <button type="button" class="btn btn-dark" aria-pressed="true" style="margin: 30px; background-color: #043927; display: inline-block;">Creative</button>    
            
            <div id="creative" class="ghost">
            </div>
        </div>
    </div>
</div>

<form>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
</form>
{% endblock %}