{% extends "layout.html" %}


{% block title %}
    Submissions
{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-family: 'Playfair Display', sans-serif; font-size: 30pt;">Submit your work to be published!</h1>
    <br>
    <br>

    <h3 style="font-family: 'Playfair Display', sans-serif; margin-bottom: 30px;"> Email your submissions to <a href="mailto:thewrittenrevolutions@gmail.com">thewrittenrevolutions@gmail.com</a>
    <form action="/submissions" method="POST" enctype="multipart/form-data">
       <!--div style="text-align: left;">
            <label for="name">Name</label>
            <div class="form-group">
                <input id="name" name="name" type="text" placeholder="Name">
            </div>

            <br>
            
            <label for="email">Email</label>
            <div class="form-group">
                <input id="email" name="email" type="email" placeholder="Email">
            </div>
        </div-->
        <div>
            <h2 style="text-align: center; font-family: 'Playfair Display', sans-serif; font-size: 20pt;">Select which category your submission falls under:</h2>
        </div>
        
    
        
        <div class="form-row" style="font-size: 20px; font-family: 'Playfair Display'">

            <div class="col" id="polit" style="text-align: center;">
                <button type="button" class="btn btn-dark" style="margin: 30px; background-color: black; display: inline-block;">Political</button>
            </div> 

            <div class="col" id="creat" style="text-align: center;">
                <button type="button" class="btn btn-dark" style="margin: 30px; background-color: black; display: inline-block;">Creative</button>  
            </div>
            
            <div class="col" id="bus" style="text-align: center;">
                <button type="button" class="btn btn-dark" style="margin: 30px; background-color: black; display: inline-block; font-size: 15px;">Economics/Business</button> 
            </div>    
            
            
            <div class="col" id="write" style="text-align: center;">
                <button  type="button" class="btn btn-dark"  style="margin: 30px; background-color:black; display: inline-block;">Freewrite</button>  
            </div>    
        </div>
    
        <!--
        <div class="form-group">
            <input type="file" name="fileemail">
            <input type="submit" value="submit">
        </div>
    -->
    </form>
    
    <div id="poli" class="ghost" style="font-size: 15px; font-family: 'Playfair Display'">
        <h3 style="text-align: left; font-size: 20px; font-family: 'Playfair Display'"><u>Requirements</u></h3>
        <ul>
            <li>Formatting:
                <ul>
                    <li>Include a title and a by line</li>
                    <li>Article has to be max 4 pages including the references & resources</li>
                    <li>Three pages of info and the fourth page is for references</li>
                    <li>2.5 pages minimum including the references</li> 
                    <li>Two pages of info and the third page will be for the references</li>
                    <li>Font - Open Sans</li> 
                    <li>Size - 11 max, 10 min</li>
                </ul>
            </li>
            <li>Research:
                <ul>
                <li>Research is critical</li>
                <li>Plagiarism is not tolerated</li>
                <li>Use credible sources</li>
                <li>Balance biases</li>
                <li>Referencing - just copy and paste links at the bottom of your articles.</li>
                </ul>
            </li>
            <li>Use diplomatic and formal language in your writing</li>
            <li>Make sure your submission is in either .docx or .pdf form</li>
        </ul>
    </div>

    <div id="creative" class="ghost" style="font-size: 15px; font-family: 'Playfair Display'">
        <h3 style="text-align: left; font-size: 20px; font-family: 'Playfair Display'"><u>Requirements</u></h3>
        <ul>
            <li>Poetry
            <ul>
            <li>Include a brief analysis or author's note for your poem</li>
                <li>Formatting:
                    <ul>
                        <li>Include a title and a by line</li>
                        <li>Font - Open Sans</li> 
                        <li>Size - 11 max, 10 min</li>
                    </ul>
                </li>
            </ul> 
                <li>Photography/Film
                    <ul>
                        <li>Ensure that the image or film is your own.</li>
                        <li>For photos submit both the edited and unedited version</li>
                        <li>Give a brief description and a caption with your submission</li>
                    </ul>
                </li>
            </ul>
    </div>

    <div id="econ" class="ghost">
        <h3 style="text-align: left; font-size: 20px; font-family: 'Playfair Display'"><u>Requirements</u></h3>
    </div>
            
    <div id="free" class="ghost">
        <h3 style="text-align: left; font-size: 20px; font-family: 'Playfair Display'"><u>Requirements</u></h3>
    </div>  

<script src="static/sub.js"></script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}